{% load static %}
{% include "common/base.html" %}

{% block footer %}
    <footer>
        <div class="footer">
            <ul>
                <li>INFERNO</li>
                <li>
                    <select>
                        <option value="english">English</option>
                        {% comment %} <option value="chinese">Chinese</option>
                        <option value="deutsch">Deutsch</option>
                        <option value="hindi">Hindi</option>
                        <option value="portuguese">Portuguese</option>
                        <option value="spanish">Spanish</option> {% endcomment %}
                    </select>
                </li>
                <li>
                    <select>
                        <option value="Dollar">INR: IN-Rupee</option>
                    </select>
                </li>
            </ul>

            <ul>
                <li class="title">OTHER LINKS</li>
                <li>Contact Us</li>
                <li>Privacy Policy</li>
                <li>Terms & Conditions</li>
                <li>Tickets</li>
                <li>Customer Service</li>
                <li>Our App</li>
            </ul>

            <ul>
                <li class="title">SHORTCUT</li>
                <li>Electronics</li>
                <li>Men & Women</li>
                <li>House Hold</li>
                <li>Sport & Fitness</li>
                <li>Books</li>
                <li>Kids Corner</li>
            </ul>

            <ul>
                <li class="title">LET HELP YOU</li>
                <li>Covid-19</li>
                <li>Your Account</li>
                <li>Shipping Rates</li>
                <li>Replacement</li>
                <li>Help</li>
                <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                </li>
            </ul>
        </div>
        <div class="sub-footer">
            <em>INFERNO</em> Copyright © 2021 Inferno - All rights reserved || Designed By: Mahesh
        </div>
    </footer>

    <!--ADDITIONAL-->
    <div id="id01" class="modal">

        <section class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close"
                    title="Close Modal">&times;</span>
            </div>
        </section>
    </div>

    <div class="credits">
        <a href="https://w3schools.com">W3SCHOOLS</a>, <a href="https://unsplash.com">UNSPLASH</a>, <a
            href="https://i.ibb.co">IMGBB</a>, <a href="https://canva.com">CANVA</a>
    </div>
{% endblock %}