{% load static %}
{% include "common/base.html" %}

{% block header %}
    <header>
        <div class="menu">
            <table>
                <tr>
                    <td><img src="" alt="INFERNO" class="logo"></td>
                    <td>
                        <input type="text" class="search" name="search" placeholder="Search"><button type="submit"><i
                                class="fa fa-search"></i></button>
                    </td>
                    <td>
                        <span>
                            <div class="navbar">
                                <div class="dropdown">
                                    <button class="dropbtn">Account
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                    <div class="dropdown-content">
                                        <a href="#">Profile</a>
                                        <a href="#">Orders</a>
                                        <a href="#">Wishlist</a>
                                        <a href="#">LogIn/LogOut</a>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <button class="dropbtn cart"><i class="fa fa-shopping-cart"></i> <span
                                            class="value">2</span>
                                    </button>
                                    <div class="dropdown-content cart-content">
                                        <a>
                                            <ul>
                                                <li>
                                                    <img src="https://i.ibb.co/RpnQq12/01.webp" alt="Item">
                                                </li>
                                                <li>
                                                    <span class="title">Samsung Galaxy POP</span>
                                                    <span class="sub-title"><i class="fa fa-rupee"></i>5999<span>
                                                </li>
                                                <li><i class="fa fa-trash"></i></li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <img src="https://i.ibb.co/RpnQq12/01.webp" alt="Item">
                                                </li>
                                                <li>
                                                    <span class="title">Samsung Galaxy POP</span>
                                                    <span class="sub-title"><i class="fa fa-rupee"></i>5999<span>
                                                </li>
                                                <li><i class="fa fa-trash"></i></li>
                                            </ul>
                                            <button type="submit" class="btn1">CheckOut</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="topnav" id="myTopnav">
            <div class="dropdown">
                <button class="dropbtn">Electronics
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content mega-dropdown">
                    <div class="row  column1">
                        <div class="column">
                            <h3>Mobiles</h3>
                            <a href="#">Mi</a>
                            <a href="#">Samsung</a>
                            <a href="#">RealMe</a>
                        </div>
                        <div class="column">
                            <h3>Mobile Accessories</h3>
                            <a href="#">Power Bank</a>
                            <a href="#">OTG</a>
                            <a href="#">Covers</a>
                        </div>
                        <div class="column">
                            <h3>Speakers</h3>
                            <a href="#">Home Theater</a>
                            <a href="#">Portable</a>
                            <a href="#">Sound Bars</a>
                        </div>
                        <div class="column">
                            <h3>Featured</h3>
                            <a href="#">Apple Store</a>
                            <a href="#">Mcrosoft Store</a>
                            <a href="#">Inferno Store</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Men & Women
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content mega-dropdown">
                    <div class="row">
                        <div class="column">
                            <h3>Clothing</h3>
                            <a href="#">Men Jeans</a>
                            <a href="#">Women Jeggings</a>
                            <a href="#">Trousers</a>
                        </div>
                        <div class="column">
                            <h3>Grooming</h3>
                            <a href="#">Perfumes</a>
                            <a href="#">Deodrants</a>
                            <a href="#">Hair Groom</a>
                        </div>
                        <div class="column">
                            <h3>Footware</h3>
                            <a href="#">Casual</a>
                            <a href="#">Boots</a>
                            <a href="#">Slippers</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Home & Furniture
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content mega-dropdown">
                    <div class="row">
                        <div class="column">
                            <h3>Kitchen</h3>
                            <a href="#">Cook Ware</a>
                            <a href="#">Electric Corner</a>
                            <a href="#">Infrastructure</a>
                        </div>
                        <div class="column">
                            <h3>Home Improvements</h3>
                            <a href="#">Cleaners</a>
                            <a href="#">Perfumes</a>
                            <a href="#">Sanitizer</a>
                        </div>
                        <div class="column">
                            <h3>Living Room</h3>
                            <a href="#">Lightning</a>
                            <a href="#">Dining Table</a>
                            <a href="#">Jugs</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Sport & Fitness
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content mega-dropdown">
                    <div class="row">
                        <div class="column">
                            <h3>Sport</h3>
                            <a href="#">Cricket</a>
                            <a href="#">Football</a>
                            <a href="#">Volley Ball</a>
                        </div>
                        <div class="column">
                            <h3>Fitness</h3>
                            <a href="#">Dumbells</a>
                            <a href="#">Mini-Set</a>
                            <a href="#">Powders</a>
                        </div>
                        <div class="column">
                            <h3>Featured</h3>
                            <a href="#">Suppliments</a>
                            <a href="#">Gadgets</a>
                            <a href="#">Kits</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Kids Store
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content mega-dropdown">
                    <div class="row">
                        <div class="column">
                            <h3>Toys</h3>
                            <a href="#">Dolls</a>
                            <a href="#">E-Gadgets</a>
                            <a href="#">Tabs</a>
                        </div>
                        <div class="column">
                            <h3>Books</h3>
                            <a href="#">Story Books</a>
                            <a href="#">Educational</a>
                            <a href="#">Guidlines</a>
                        </div>
                        <div class="column">
                            <h3>Care</h3>
                            <a href="#">Body Care</a>
                            <a href="#">Hair Care</a>
                            <a href="#">Growth</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">More
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Notifications</a>
                    <a href="#">Customer Care</a>
                    <a href="#">Download App</a>
                </div>
            </div>

            <a href="#about">Coupons</a>

            <div class="dropdown responsive">
                <button class="dropbtn">Account
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Profile</a>
                    <a href="#">Orders</a>
                    <a href="#">Wishlist</a>
                    <a href="#">Login</a>
                </div>
            </div>


            <div class="dropdown responsive">
                <button class="dropbtn"><i class="fa fa-shopping-cart"></i><span class="value">2</span>
                </button>
                <div class="dropdown-content">
                    <a>
                        <ul>
                            <li>
                                <img src="https://i.ibb.co/RpnQq12/01.webp" alt="Item">
                            </li>
                            <li>
                                <span class="title">Samsung Galaxy POP</span>
                                <span class="sub-title"><i class="fa fa-rupee"></i>5999<span>
                            </li>
                            <li><i class="fa fa-trash"></i></li>
                        </ul>
                        <ul>
                            <li>
                                <img src="https://i.ibb.co/RpnQq12/01.webp" alt="Item">
                            </li>
                            <li>
                                <span class="title">Samsung Galaxy POP</span>
                                <span class="sub-title"><i class="fa fa-rupee"></i>5999<span>
                            </li>
                            <li><i class="fa fa-trash"></i></li>
                        </ul>
                        <button type="submit" class="btn1">CheckOut</button>
                    </a>
                </div>
            </div>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    </header>
{% endblock %}