<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{invoice_data.customer}}</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<style>
    body {
        margin-top: 20px;
        background: #eee;
    }

    /*Invoice*/
    .invoice .top-left {
        font-size: 65px;
        color: #3ba0ff;
    }

    .invoice .top-right {
        text-align: right;
        padding-right: 20px;
    }

    .invoice .table-row {
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 25px;
    }

    .invoice .payment-info {
        font-weight: 500;
    }

    .invoice .table-row .table>thead {
        border-top: 1px solid #ddd;
    }

    .invoice .table-row .table>thead>tr>th {
        border-bottom: none;
    }

    .invoice .table>tbody>tr>td {
        padding: 8px 20px;
    }

    .invoice .invoice-total {
        margin-right: -10px;
        font-size: 16px;
    }

    .invoice .last-row {
        border-bottom: 1px solid #ddd;
    }

    .invoice-ribbon {
        width: 85px;
        height: 88px;
        overflow: hidden;
        position: absolute;
        top: -1px;
        right: 14px;
    }

    .ribbon-inner {
        text-align: center;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        position: relative;
        padding: 7px 0;
        left: -5px;
        top: 11px;
        width: 120px;
        background-color: #66c591;
        font-size: 15px;
        color: #fff;
    }

    .ribbon-inner:before,
    .ribbon-inner:after {
        content: "";
        position: absolute;
    }

    .ribbon-inner:before {
        left: 0;
    }

    .ribbon-inner:after {
        right: 0;
    }

    @media(max-width:575px) {

        .invoice .top-left,
        .invoice .top-right,
        .invoice .payment-details {
            text-align: center;
        }

        .invoice .from,
        .invoice .to,
        .invoice .payment-details {
            float: none;
            width: 100%;
            text-align: center;
            margin-bottom: 25px;
        }

        .invoice p.lead,
        .invoice .from p.lead,
        .invoice .to p.lead,
        .invoice .payment-details p.lead {
            font-size: 22px;
        }

        .invoice .btn {
            margin-top: 10px;
        }
    }

    @media print {
        .invoice {
            width: 900px;
            height: 800px;
        }
    }
</style>

<body>
    <div class="container bootstrap snippets bootdeys">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default invoice" id="invoice">
                    <div class="panel-body">
                        {% if invoice_data.payment_status == 'paid' %}
                        <div class="invoice-ribbon"
                            style="width: 85px;height: 88px;overflow: hidden;position: absolute;top: -1px;right: 14px;">
                            <div style="background-color:green !important;" class="ribbon-inner">PAID</div>
                        </div>
                        {% else %}
                        <div class="invoice-ribbon"
                            style="width: 85px;height: 88px;overflow: hidden;position: absolute;top: -1px;right: 14px;">
                            <div class="ribbon-inner" style="text-align: center;
                                -webkit-transform: rotate(45deg);
                                -moz-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                -o-transform: rotate(45deg);
                                position: relative;
                                padding: 7px 0;
                                left: -5px;
                                top: 11px;
                                width: 120px;
                                background-color: #66c591;
                                font-size: 15px;
                                color: #fff;background-color:red !important;">UNPAID</div>
                        </div>
                        {% endif %}

                        <div class="row">

                            <div class="col-sm-6 top-left" style="
                                                                font-size: 65px;
                                                                color: #3ba0ff;
                                                                width: 50%;
                                                                float: left;
                                                            ">
                                <!-- <i class="fa fa-rocket"></i> -->
                                <img style="
                                width: 130px;
                                height: 130px;
                            " src="http://127.0.0.1:8000/media/{{invoice_data.CompanyDetail.invoice_logo}}">
                            </div>

                            <div class="col-sm-5 top-right">
                                <h3 class="marginright">INVOICE NO: {{invoice_data.invoice_no}}</h3>
                                <span class="marginright">INVOICE DATE: {{invoice_data.invoice_date}}</span>
                            </div>

                        </div>
                        <hr>
                        <div class="row">

                            <div class="col-xs-8 from">
                                <p class="lead marginbottom">From : {{invoice_data.CompanyDetail.company_name}}</p>
                                {% if invoice_data.gst_payable == 'yes' %}
                                <p>GSTN: {{invoice_data.customer.gstn}}</p>
                                {% else %}
                                <p></p>
                                {% endif %}
                                <p>{{invoice_data.CompanyDetail.streat_detail}}</p>
                                <p>{{invoice_data.CompanyDetail.company_city}},
                                    {{invoice_data.CompanyDetail.company_state}}</p>
                                <p>Phone: {{invoice_data.CompanyDetail.company_phone}}</p>
                                <p>Email: {{invoice_data.CompanyDetail.company_email}}</p>
                            </div>

                            <div class="col-xs-4 to">
                                <p class="lead marginbottom">Bill To : {{invoice_data.customer.name}}</p>
                                {% if invoice_data.gst_payable == 'yes' %}
                                <p>GSTN: {{invoice_data.customer.gstn}}</p>
                                {% else %}
                                {% endif %}
                                <p>{{invoice_data.customer.streat_detail}}</p>
                                <p>{{invoice_data.customer.city}}, {{invoice_data.CompanyDetail.state}}</p>
                                <p>Phone: {{invoice_data.customer.phone}}</p>
                                <p>Email: {{invoice_data.customer.email}}</p>
                            </div>

                            {% comment %} <div class="col-xs-4 text-right payment-details">
                                <p class="lead marginbottom payment-info">Payment details</p>
                                <p>Date: {{invoice_data.billing_date}}</p>
                                <p>VAT: DK888-777 </p>
                                <p>Total Amount: $1019</p>
                                <p>Account Name: Flatter</p>
                            </div> {% endcomment %}

                        </div>

                        <div class="row table-row">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:5%">#</th>
                                        <th style="width:35%">Item Description</th>
                                        {% comment %} <th style="width:30%">Item Description</th> {% endcomment %}
                                        <th class="text-right" style="width:15%">Quantity</th>
                                        <th class="text-right" style="width:16%">Unit Price</th>
                                        <th class="text-right" style="width:18%">Total Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in invoice_data.product_detail.all %}
                                    <tr>
                                        <td class="text-center">{{item.id}}</td>
                                        <td>{{item.product_name}} | {{item.product_description}}</td>
                                        {% comment %} <td>{{item.product_description}}</td> {% endcomment %}
                                        <td class="text-right">{{item.quantity}}</td>
                                        <td class="text-right">{{item.unique_price}} ₹</td>
                                        <td class="text-right">{{item.total}} ₹</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <hr>
                        </div>


                        <div class="row">
                            <div class="col-xs-6 margintop">
                                <p class="lead marginbottom">THANK YOU!</p>
                                <a onclick="window.print()">Print</a>
                            </div>
                            <div class="col-xs-6 text-right pull-right invoice-total">
                                <p>Subtotal : {{sub_total}} ₹</p>
                                {% for key, value in tax.items %}
                                <p>{{key}}: {{value}} ₹</p>
                                {% endfor %}
                                <p>Total : {{total}} ₹</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>