<html>

<head>
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .price {
            color: grey;
            font-size: 22px;
        }

        .card button {
            border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        .card button:hover {
            opacity: 0.7;
        }
    </style>
</head>

<body style='background-color:#FF6F61'>
    <div style='background-color:#FF6F61'>

        <h2 style="text-align:center">Top Rated Product</h2>
        <div style='width: 100%;background-color:#FF6F61'>
            {% for product in products %}
            <div class="card" style="width: 20%;float: left">
                <i class="fas fa-laptop"></i>
                <h1>{{product.product_name}} </h1>
                <p>
                    <del style="color:red">{{product.product_price_actual}} ₹</del>
                <p class="price" style="color:green"> {{product.product_price_offer}}</p>
                </p>
                <p>{{product.product_description}}</p>
            </div>
            {% endfor %}
        </div>
    </div>

</body>

</html>