{% load static %}
{% include "common/base.html" %}

{% block header %}
{% include "common/header.html" %}
{% endblock %}
{% block csslink %}
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/ac7a4b981f.js" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<div class='main-content'>

    <div class="mt-12 flex justify-between mb-8">
        <h2 class="text-2xl mx-16 font-semibold">Shop All Makeup</h2>
        <div class="mx-16">
            <span class="mr-4">6 items</span>
            <select id="dropdown" class="py-6">
                <option disabled selected value class="bg-white p-8">Sort by</option>
                <option>Product Type</option>
                <option>Bestsellers</option>
                <option>Lowest Price</option>
                <option>Highest Price</option>
                <option>Bestsellers</option>
            </select>
        </div>
    </div>

    <div class="grid lg:grid-cols-4 sm:grid-cols-1 md:grid-cols-2 mx-16 gap-8">
        <div class="flex flex-col bg-gray-100">
            <img src="https://images.ctfassets.net/p3w8f4svwgcg/2HNEsucEUavVW1XwhBGCdz/524ce95ba277fec17df5d052d6665502/BoyBrow_0_1.jpg?w=1400&q=80"
                class="" alt="Boy Brow">
            <div class="hover:text-blue-800 hover:underline flex flex-col mx-2 mt-4 mb-3">
                <a href="#" class="text-lg font-medium">Boy Brow</a>
                <a href="#" class="font-light default:text-gray-900">grooming pomade</a>
            </div>
            <button class="mx-2 mb-3 max-w-max bg-white border rounded hover:border-gray-600 flex justify-between p-2">
                <span class="mx-4 text-sm">Add to Cart</span>
                <span class="mx-4 text-sm">$16</span>
            </button>
        </div>

        <div class="flex flex-col bg-gray-100">
            <img src="https://images.ctfassets.net/p3w8f4svwgcg/3pkpOFantfCIBFBEZZmUKE/eba8dd3906d5e7502b902d652ebe559a/CloudPaint.jpg?w=1400&q=80"
                class="" alt="Cloud Paint">
            <div class="hover:text-blue-800 hover:underline flex flex-col mx-2 mt-4 mb-3">
                <a href="#" class="text-lg font-medium">Cloud Paint</a>
                <a href="#" class="font-light default:text-gray-900">seamless cheek color</a>
            </div>
            <button class="mx-2 mb-3 max-w-max bg-white border rounded hover:border-gray-600 flex justify-between p-2">
                <span class="mx-4 text-sm">Add to Cart</span>
                <span class="mx-4 text-sm">$18</span>
            </button>
        </div>

        <div class="flex flex-col bg-gray-100">
            <img src="https://images.ctfassets.net/p3w8f4svwgcg/6f2qw85pNvFa5ff2rGb2Kz/bfa19b931da0c429c7a879ef5aec2e9b/hand-generationg-jam-portrait.jpg?w=1400&q=80"
                class="" alt="Generation G">
            <div class="hover:text-blue-800 hover:underline flex flex-col mx-2 mt-4 mb-3">
                <a href="#" class="text-lg font-medium">Generation G</a>
                <a href="#" class="font-light default:text-gray-900">sheer matte lipstick</a>
            </div>
            <button class="mx-2 mb-3 max-w-max bg-white border rounded hover:border-gray-600 flex justify-between p-2">
                <span class="mx-4 text-sm">Add to Cart</span>
                <span class="mx-4 text-sm">$18</span>
            </button>
        </div>

        <div class="flex flex-col bg-gray-100">
            <img src="https://static-assets.glossier.com/production/spree/images/attachments/000/003/365/portrait_normal/Holiday2020_Gold-LipGloss_Hover.jpg?1606906156=&w=600&q=80"
                class="" alt="Lip Gloss">
            <div class="hover:text-blue-800 hover:underline flex flex-col mx-2 mt-4 mb-3">
                <a href="#" class="text-lg font-medium">Lip Gloss</a>
                <a href="#" class="font-light default:text-gray-900">cushiony glassy shine</a>
            </div>
            <button class="mx-2 mb-3 max-w-max bg-white border rounded hover:border-gray-600 flex justify-between p-2">
                <span class="mx-4 text-sm">Add to Cart</span>
                <span class="mx-4 text-sm">$14</span>
            </button>
        </div>

        <div class="flex flex-col bg-gray-100">
            <img src="https://static-assets.glossier.com/production/spree/images/attachments/000/003/883/portrait_normal/browflick_hover.jpg?1559149981=&w=600&q=80"
                class="" alt="Brow Flick">
            <div class="hover:text-blue-800 hover:underline flex flex-col mx-2 mt-4 mb-3">
                <a href="#" class="text-lg font-medium">Brow Flick</a>
                <a href="#" class="font-light default:text-gray-900">microfine detailing pen</a>
            </div>
            <button class="mx-2 mb-3 max-w-max bg-white border rounded hover:border-gray-600 flex justify-between p-2">
                <span class="mx-4 text-sm">Add to Cart</span>
                <span class="mx-4 text-sm">$18</span>
            </button>
        </div>

        <div class="flex flex-col bg-gray-100">
            <img src="https://static-assets.glossier.com/production/spree/images/attachments/000/003/353/portrait_normal/lashslick_wand_hand.jpg?1551585165=&w=600&q=80"
                class="" alt="Lash Slick">
            <div class="hover:text-blue-800 hover:underline flex flex-col mx-2 mt-4 mb-3">
                <a href="#" class="text-lg font-medium">Lash Slick</a>
                <a href="#" class="font-light default:text-gray-900">film form mascara</a>
            </div>
            <button class="mx-2 mb-3 max-w-max bg-white border rounded hover:border-gray-600 flex justify-between p-2">
                <span class="mx-4 text-sm">Add to Cart</span>
                <span class="mx-4 text-sm">$16</span>
            </button>
        </div>
    </div>

</div>
{% endblock %}
{% block footer %}
{% include "common/footer.html" %}
{% endblock %}