{% load static %}
{% include "common/base.html" %}

{% block header %}
{% include "common/header.html" %}
{% endblock %}

{% block content %}
<!--CAROUSEL-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="media/{{first_banner.slider_banner}}" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:{{first_banner.banner_heading_color}}">{{first_banner.banner_heading}}</h5>
                <p style="color:{{first_banner.banner_content_color}}">{{first_banner.banner_content}}</p>
            </div>
        </div>
        {% for banner in banners %}
        <div class=" carousel-item">
            <img src="media/{{banner.slider_banner}}" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:{{first_banner.banner_heading_color}}">{{banner.banner_heading}}</h5>
                <p style="color:{{first_banner.banner_content_color}}">{{banner.banner_content}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- CAROUSEL END  -->


<section class="section1">
    {% for card in cards %}
    <div class="add-card"
        style="background: linear-gradient(rgba(1,1,1,.5), rgba(1,1,1,.5)), url(media/{{card.card_image}});">
        <section>
            <span class="title" style="color:{{card.image_heading_color}}">{{card.image_heading}}</span>
            <span class="sub-title" style="color:{{card.image_content_color}}">{{card.image_content}}</span>
            <a href="" class="btn1">Grab Now</a>
        </section>
    </div>
    {% endfor %}
</section>


<h1 class="title section2-header">NEW ARRIVAL FOR BEST DEALS<span id="timer"><i class="fa fa-clock-o"></i></span></h1>
<section class="section2">
    {% for product in products %}
    <div class="deal-card">
        <img src="media/{{product.thumbnail_image}}" alt="Deals">
        {% comment %} <span class="discount"><i class="fa fa-rupee"></i>{{product.product_price_actual}} - {{product.product_price_offer }} OFF</span> {% endcomment %}
        <span class="tag-1"><i class="fa fa-check-circle-o"></i> {{product.price_offer}} ₹ OFF</span>
        <span class="title">{{product.product_name}}</span>
        <span class="title-left">{{product.product_price_offer}}</span>
        <br><br>
        <span class="sub-title">{{product.product_description|safe|slice:80}}...</span>
        <p><a href="#" class="btn1"></i>Add to Cart</a><i class="fas fa-heart"></i>
        {% comment %} <i>{{product.product_price_offer}}</i> {% endcomment %}
        </p>
        {% comment %} <a><i class="fa fa-rupee">{{product.product_price_offer}}</a> {% endcomment %}
        {% comment %} <strike style='float:left'><i class="fa fa-rupee"></i>{{product.product_price_actual}}</strike> {% endcomment %}
    </div>
    {% endfor %}

</section>

<!--CAROUSEL after newarrivel-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="media/{{new_arrivel_first_banner.slider_banner}}" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:{{new_arrivel_first_banner.banner_heading_color}}">{{new_arrivel_first_banner.banner_heading}}</h5>
                <p style="color:{{new_arrivel_first_banner.banner_content_color}}">{{new_arrivel_first_banner.banner_content}}</p>
            </div>
        </div>
        {% for banner in new_arrival_sliders %}
        <div class=" carousel-item">
            <img src="media/{{banner.slider_banner}}" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:{{first_banner.banner_heading_color}}">{{banner.banner_heading}}</h5>
                <p style="color:{{first_banner.banner_content_color}}">{{banner.banner_content}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- CAROUSEL END  -->

<h1 class="title section2-header">BEST SELLER FOR BEST DEALS<span id="timer"><i class="fa fa-clock-o"></i></span></h1>
<section class="section2">
    {% for product in products %}
    <div class="deal-card">
        <img src="media/{{product.thumbnail_image}}" alt="Deals">
        {% comment %} <span class="discount"><i class="fa fa-rupee"></i>{{product.product_price_actual}} - {{product.product_price_offer }} OFF</span> {% endcomment %}
        <span class="tag-1"><i class="fa fa-check-circle-o"></i> {{product.price_offer}} ₹ OFF</span>
        <span class="title">{{product.product_name}}</span>
        <span class="title-left">{{product.product_price_offer}}</span>
        <br><br>
        <span class="sub-title">{{product.product_description|safe|slice:80}}...</span>
        <p><a href="#" class="btn1"></i>Add to Cart</a><i class="fas fa-heart"></i>
        {% comment %} <i>{{product.product_price_offer}}</i> {% endcomment %}
        </p>
        {% comment %} <a><i class="fa fa-rupee">{{product.product_price_offer}}</a> {% endcomment %}
        {% comment %} <strike style='float:left'><i class="fa fa-rupee"></i>{{product.product_price_actual}}</strike> {% endcomment %}
    </div>
    {% endfor %}

</section>

{% endblock %}

{% block footer %}
{% include "common/footer.html" %}
{% endblock %}